@import 'base.spacing';

@mixin hr {
  padding: 0;
  margin: $base-spacing-unit--lg 0 $base-spacing-unit--lg 0;
  border: 0;
  border-bottom: 1px solid $silver;
  height: 0;
  background-color: transparent;
  &--xs {
    margin: $base-spacing-unit--sm 0 $base-spacing-unit--sm 0;
  }
  &--sm {
    margin: $base-spacing-unit 0 $base-spacing-unit 0;
  }
  &--lg {
    margin: $base-spacing-unit--xl 0 $base-spacing-unit--xl 0;
  }
  &--xl {
    margin: $base-spacing-unit--xl * 1.5 0 $base-spacing-unit * 1.5 0;
  }
}

.hr {
  @include hr;
}
