@import "normalize.css";
@import "_base.color.css";
@import "_base.font.css";
@import "_base.roboto.css";
@import "_base.roboto-mono.css";
@import "_base.spacing.css";
@import "_base.static.css";
@import "_elements.code.css";
@import "_elements.form.css";
@import "_elements.global.css";
@import "_elements.heading.css";
@import "_elements.html.css";
@import "_elements.link.css";

.image {
  background: transparent url('../assets/images/logo.png') 0 0 no-repeat;
  height: 200px;
  width: 200px;
  display: block;
  color: red;
}

